* {
    padding: 0px;
    margin:0px;
    box-sizing: border-box;  
}

.grey-qo-regular {
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

h1 {
    /* font-style: italic; */
}

body {
    background-color: black;
    padding: 10%;
    font-size: 2rem;
    color: lightcyan
}

/* input, button {
    font:inherit;
}  */



p {
 /* text-decoration: underline; */
 text-indent: 2em;
 line-height: 1.5em;
 letter-spacing: 0.1em;
 word-spacing: 0.7em;
}

span {
    /* text-decoration: line-through; */
    background-color: rgb(139, 125, 0);
    font-style:oblique;
}













